.head {
    display: flex;
    margin-left: 3%;
}

.logo {
    height: 30px;
    width: 110px;
    /* padding: 10px; */
    margin-top: 25px;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.homelink {
    text-decoration: none;
    display: flex;
    width: 10%;
    font-size: medium;
    margin-left: 62%;
    font-weight: 400;
    color: rgb(19, 18, 18);
    /* border-radius: 32px; */
    padding: 10px;
    cursor: pointer;
    font-family: 'Times New Roman Medium', 'Arial Narrow', Arial, sans-serif;
}

.language {
    display: flex;
    height: 30px;
    width: 3%;
    border-radius: 32px;
    padding: 18px;
    cursor: pointer;
}

.userbutton {
    display: flex;
    height: 22%;
    width: 6%;
    /* margin-left: 1%; */
    margin-top: 1%;
    background-color: white;
    border: 1px solid #dbdbdb;
    border-radius: 32px;
    /* padding: 5px; */
    cursor: pointer;
}

.userlogo {
    text-align: center;
    height: 60%;
    width: 80%;
}

hr {
    margin-top: -2px;
    border: 1px solid whitesmoke;
}

@media only screen and (min-width:350px) and (max-width: 750px) {
    /* .userlogo {
        width: 10%;
    } */

    .logo {
        width: 150%;
        height: 30%;
        /* text-align: center; */
    }

    /* .homelink {
        font-size: 80%;
    } */

}
